.Geral {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cabecalho {
    margin-top: .5rem;
    display: flex;
    height: 15vh;
    justify-content: space-around
}

.center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

div>.login>button {
    background: rgb(255, 255, 255);
    width: 13rem;
    height: 3.5rem;
    border-color: rgba(42, 122, 228, 0.638);
    color: rgb(42, 122, 228);
    font-size: 20px;
    font-weight: 300;
}

.login {
    margin-left: 15rem;
}

div .buscar {
    border-radius: 20px;
    margin-left: 3rem;
    padding-left: 1rem;
    width: 25rem;
    height: 40px;
    border: none;

    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #aeadad1f;
}

.vector {
    position: absolute;
    margin-left: 26.8rem;
    margin-top: -1.8rem;
}

/* banner */
section div.img img {
    width: 100vw;
    height: 20rem;
    object-fit: cover;
    position: relative;
}

.promocao {
    display: flex;
    align-items: start;
    flex-direction: column;
    position: absolute;
    margin-top: -6.5rem;
    left: 7rem;
    color: white;
}
.desconto{
    margin-bottom: 1rem;
}
.promocao1 {
    color: white;
    left:1.4rem;
    width: 50rem;
    font-size: 50px;
    font-weight: 800;
    margin-top: -11rem;
    position: absolute;
    text-align: center;
}

.deconto1 {

    margin-left: 5rem;

}

.produtos {
    font-weight: 300;
    border: none;
    width: 10rem;
    height: 2.5rem;
    color: #f8f8f8;
    background: #2A7AE4;
}

/* Produtos */

.painel {
    display: flex;
    margin-top: 2rem;
    justify-content: center;
}

.categoria {
    width: 100%;
    display: flex;
    margin-top: -4rem;
    background: red;
    position: absolute;
    justify-content: space-around;
    align-items: center;
}

.verMais {
    font-size: 18px;

}

.startWars {
    color: rgb(59, 58, 58);
    font-size: 30px;
    margin-bottom: 20px;
}
nav .navGeral{
 display: flex;
 align-items: center;
 justify-content: center;   
}